<header id="main-header">
  <div id="logo">
    <a href="/">My Logo</a>
  </div>
  <nav>
    <ul>
      <li>
        <a href="/posts">All Posts</a>
      </li>

      <li>
        <a href="/new-posts">Create Post</a>
      </li>
    </ul>
  </nav>
</header>
